<mat-toolbar color="primary">
  <h1>Santa Olalla para llevar</h1>
</mat-toolbar>
<mat-form-field>
  <p>Elige establecimiento:</p>
  <mat-select [(value)]="selectedValue">
    <mat-option>--</mat-option>
    <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant">
      {{restaurant.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<app-restaurant-card *ngIf="selectedValue" [restaurant]="selectedValue? selectedValue : '' "></app-restaurant-card>
<footer>Made with <span>♥</span> by David Luna</footer>
<router-outlet></router-outlet>